* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

textarea {
  width: 100%;
  height: calc(100vh - 100px);
  border-radius: 10px;
  border: 1px solid #141204;
  padding: 10px;
}

button {
  background-color: #141204;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
